.table td {
    padding: 8px;
}

.techCell {
    /* Обычная ячейка с tech */
}

.developerCell {
    /* Ячейка с developer, но она не должна влиять на текст строки при тестах */
    display: table-cell;
}