.error404 {
    width: 451px;
    height: 100%;
    z-index: 99999;
}

.wrapper {
    align-items: center;
    display: flex;
    height: calc(100vh - var(--header_height));
    justify-content: center;
}