
.sendForm {
    margin-top: 56px;
    display: flex;
}

.textarea {
    margin-right: 44px;
    min-width: 976px;
    min-height: 40px;
    border-radius: 20px;
    background-color: #F5F7FB;
    border: #F5F7FB;
    box-shadow: 0px 5px 20px 0px #1D212608, 0px 1px 2px 0px #1D21261A;
    resize: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    font-family: "Montserrat", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    color: rgba(0, 0, 0, 0.6);
    outline: none;
}

textarea:focus {
    outline: 1px solid #D9D9D9;
}


.textarea::placeholder {
    font-family: "Montserrat", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    color: rgba(0, 0, 0, 0.6);
}


.button {
    background-color: #0066CC;
    width: 120px;
    height: 40px;
    top: 432px;
    left: 1090px;
    border-radius: 20px;
    border: none;
    font-family: "Montserrat", serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.5px;
    color: #ffffff;
    transition: background-color .4s ease;
}

.button:hover {
    background-color: #3798ff;
}

.button:active {
    background-color: #014897;
}
