.burgerMenuIcon {
    display: block;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 29.26px;
}